@font-face {
	font-family: 'Roses';
	src: url("roses.ttf") format("opentype"),
}

body {
    background-color: rgb(253, 108, 158);
}

.question {
    font-family: "Roses";
    font-size: 64px;
    text-align: center;
    margin-top: 10%;
}

.button-container {
    position: relative;
    text-align: center;
}

.yes {
    position: absolute;
    background-color: #e02209;
    border-radius: 30px;
    color: white;
    top: 50%;
    left: 40%;
    padding: 15px 32px;
    font-size: 16px;
    text-decoration: none;
}

.no {
    background-color: #e02209;
    border-radius: 30px;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.yes:hover {
    transition : 1000ms;
    padding: 10px 37px;
    transform : translateY(-0px);
    background-color: #fff;
    color: #000000;
    border: solid 2px black;

}
