body {
    background-color: pink;
}

.question {
    text-align: center;
    margin-top: 20%;
}

.button-container {
    position: relative;
    text-align: center; /* Pour centrer les boutons horizontalement */
}

.yes {
    position: absolute;
    background-color: #e02209;
    border-radius: 30px;
    color: white;
    top: 50%;
    left: 40%;
    padding: 15px 32px;
    font-size: 16px;
}

.no {
    background-color: #e02209;
    border-radius: 30px;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%; /* Position initiale du bouton "Non" par rapport au conteneur */
}